header
  //- .c-page__header-background
  #js-header.c-page__header
    .l-container.l-flex.l-f-opposite
      a.c-page__title(href='/') Terra Carphatica
      nav.c-page__nav.l-flex.l-f-v-center
        ul.l-flex
          li
           a.c-page__link(href='/') Úvod
          li
           a.c-page__link(href='onas/') O nás
          li
            a.c-page__link(href='assets/docs/stanovy.pdf') Stanovy
          li
            a.c-page__link(href='kontakt/') Kontakt
          li
            a.c-page__link(href='sekcie/') Sekcie
