
<header>
  <div class="c-page__header" id="js-header">
    <div class="l-container l-flex l-f-opposite"><a class="c-page__title" href="/">Terra Carphatica</a>
      <nav class="c-page__nav l-flex l-f-v-center">
        <ul class="l-flex">
          <li><a class="c-page__link" href="/">Úvod</a></li>
          <li><a class="c-page__link" href="onas/">O nás</a></li>
          <li><a class="c-page__link" href="assets/docs/stanovy.pdf">Stanovy</a></li>
          <li><a class="c-page__link" href="kontakt/">Kontakt</a></li>
          <li><a class="c-page__link" href="sekcie/">Sekcie</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>