
<section class="c-page__section">
  <h2 class="c-page__subtitle">Kto sme...</h2>
  <ul class="l-flex c-members">
    <li class="js-member-anim c-member" data-member="maros-ondrejka">
      <figure class="c-member__figure"><img class="c-member__image" src="assets/img/profily/maros-ondrejka.jpg" alt="Maroš Ondrejka"/></figure>
      <figcaption class="c-member__figcaption">
        <h3 class="c-member__name">Maroš Ondrejka</h3>
      </figcaption>
    </li>
    <li class="js-member-anim c-member" data-member="albert-russ">
      <figure class="c-member__figure"><img class="c-member__image" src="assets/img/profily/albert-russ.jpg" alt="Albert Russ"/></figure>
      <figcaption class="c-member__figcaption">
        <h3 class="c-member__name">Albert Russ</h3>
      </figcaption>
    </li>
    <li class="js-member-anim c-member" data-member="tomas-kosegi">
      <figure class="c-member__figure"><img class="c-member__image" src="assets/img/profily/tomas-kosegi.jpg" alt="Tomáš Kösegi"/></figure>
      <figcaption class="c-member__figcaption">
        <h3 class="c-member__name">Tomáš Kösegi</h3>
      </figcaption>
    </li>
  </ul>
</section>