
<h2 class="c-setions__title">Sekcie</h2>
<ul class="c-sections">
  <li class="c-setion"><a href="priroda/">
      <figure class="c-section__figure"><img class="c-section__image" src="assets/images/sections/priroda.jpg" alt="priroda"/>
        <figcaption class="c-setion__figcaption">
          <h3>Príroda</h3>
        </figcaption>
      </figure></a></li>
  <li class="c-setion"><a href="kultura/">
      <figure class="c-section__figure"><img class="c-section__image" src="assets/images/sections/kultura.jpg" alt="kultura"/>
        <figcaption class="c-setion__figcaption">
          <h3>Kultúra</h3>
        </figcaption>
      </figure></a></li>
  <li class="c-setion"><a href="historia/">
      <figure class="c-section__figure"><img class="c-section__image" src="assets/images/sections/historia.jpg" alt="historia"/>
        <figcaption class="c-setion__figcaption">
          <h3>História</h3>
        </figcaption>
      </figure></a></li>
  <li class="c-setion"><a href="ochrana-krajiny/">
      <figure class="c-section__figure"><img class="c-section__image" src="assets/images/sections/ochrana-krajiny.jpg" alt="ochrana-krajiny"/>
        <figcaption class="c-setion__figcaption">
          <h3>Ochrana krajiny</h3>
        </figcaption>
      </figure></a></li>
</ul>