
<section class="c-page__section">
  <h2 class="c-page__subtitle">Čomu sa venujeme...</h2>
  <ul class="l-flex c-sections">
    <li class="c-section"><a href="priroda/">
        <figure class="c-section__figure"><img class="c-section__image" src="assets/img/thumb-akt-1.jpeg" alt="priroda"/>
          <figcaption class="c-section__figcaption">
            <h3>Príroda</h3>
          </figcaption>
        </figure></a></li>
    <li class="c-section"><a href="kultura/">
        <figure class="c-section__figure"><img class="c-section__image" src="assets/img/thumb-akt-2.jpeg" alt="kultura"/>
          <figcaption class="c-section__figcaption">
            <h3>Kultúra</h3>
          </figcaption>
        </figure></a></li>
    <li class="c-section"><a href="historia/">
        <figure class="c-section__figure"><img class="c-section__image" src="assets/img/thumb-akt-3.jpeg" alt="historia"/>
          <figcaption class="c-section__figcaption">
            <h3>História</h3>
          </figcaption>
        </figure></a></li>
    <li class="c-section"><a href="ochrana-krajiny/">
        <figure class="c-section__figure"><img class="c-section__image" src="assets/img/thumb-akt-4.jpeg" alt="ochrana-krajiny"/>
          <figcaption class="c-section__figcaption">
            <h3>Ochrana krajiny</h3>
          </figcaption>
        </figure></a></li>
  </ul>
</section>