@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&subset=latin-ext");
/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

body {
  line-height: 1.55;
  background-color: #ececec;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

h1 {
  letter-spacing: 0.08em; }

h2 {
  letter-spacing: 0.04em; }

p {
  font-family: 'Gentium Basic', serif;
  margin-bottom: 1.74375rem; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection {
  background: #cfb86e; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection {
  background: #cfb86e; }

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block; }

hr {
  border: 0;
  height: 2px;
  background-color: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-bottom: 5.23125rem; }

a {
  text-decoration: none;
  color: #1a1a1a;
  display: block; }
  a:focus, a:active {
    outline: none; }

.l-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.l-f-v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.l-f-opposite {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.l-flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 959px) {
    .l-flex-row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.l-flex-row-e {
  width: 593.28px;
  margin-left: auto; }
  @media (max-width: 959px) {
    .l-flex-row-e {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.l-g-2-2 {
  max-width: 593.376px;
  max-width: 61.81%;
  max-width: 37.086rem; }

.l-1-2 {
  width: 50%; }
  @media (max-width: 959px) {
    .l-1-2 {
      width: 100%; } }

.l-1-1 {
  width: 100%; }

.l-l-padding {
  padding-left: 1.74375rem; }
  @media (max-width: 959px) {
    .l-l-padding {
      padding-left: 0; } }

.l-container {
  max-width: -webkit-calc(960px + 1.74375rem * 2);
  max-width: calc(960px + 1.74375rem * 2);
  margin: 0 auto;
  padding: 0 1.74375rem; }

.l-g-2-2-e {
  max-width: 593.28px; }
  @media (max-width: 959px) {
    .l-g-2-2-e {
      width: 100%; } }

.l-g-1-2-e {
  width: -webkit-calc(593.28px - 0.87188rem);
  width: calc(593.28px - 0.87188rem); }
  @media (max-width: 959px) {
    .l-g-1-2-e {
      width: 100%; } }

.c-page__header {
  font-family: 'Oswald', sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #cfb86e;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #957632), color-stop(25%, #298907));
  background-image: -webkit-linear-gradient(left, #957632 25%, #298907);
  background-image: linear-gradient(to right, #957632 25%, #298907);
  z-index: 99;
  -webkit-box-shadow: 0 0 5px #7a6729;
          box-shadow: 0 0 5px #7a6729;
  z-index: 999; }
  .c-page__header-background {
    height: -webkit-calc(1.5rem * 1.55);
    height: calc(1.5rem * 1.55);
    background-color: #cfb86e; }

.c-page__title {
  color: #ececec;
  font-size: 1.5rem;
  font-variant: small-caps;
  letter-spacing: 0.04em; }

.c-page__link {
  padding-left: 0.87188rem;
  display: block;
  -webkit-transition: color 0.22s ease-out 0.1s;
  transition: color 0.22s ease-out 0.1s;
  color: #ececec; }
  .c-page__link:hover {
    color: #ececec; }

.c-page-is-loading {
  background-color: #ececec;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }

.c-page__section {
  margin-bottom: 3.4875rem; }

.c-page__subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #957632;
  margin-right: 0.43594rem;
  margin-bottom: 0.87188rem; }

.c-page__subtitlecontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.74375rem; }

.c-page__subtitlecontainer::after {
  content: '\a0';
  position: relative;
  bottom: 33.33%;
  height: 4px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #957632), color-stop(25%, #298907));
  background-image: -webkit-linear-gradient(left, #957632 25%, #298907);
  background-image: linear-gradient(to right, #957632 25%, #298907); }

.c-text,
.c-text--continue,
.c-text--first {
  font-size: 1.125rem;
  margin-bottom: 1.74375rem; }

.c-text--first::first-line {
  font-weight: bold; }

.c-subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.87188rem;
  padding-top: 0.87188rem; }

.c-article__body {
  margin-left: auto; }
  @media (max-width: 959px) {
    .c-article__body {
      margin: 0 auto; } }

.c-article__section {
  max-width: 593.28px;
  max-width: 37.08rem;
  margin-left: auto; }
  @media (max-width: 959px) {
    .c-article__section {
      max-width: 593.28px;
      margin: 0 auto; } }
  @media (max-width: 593.28px) {
    .c-article__section {
      padding: 0 1.74375rem; } }
  @media (max-width: 400px) {
    .c-article__section {
      padding: 0 0.87188rem; } }

.c-article,
.c-article__header,
.c-article__header--frosting-glass,
.c-article__header--frosting-glass:after {
  overflow: hidden; }

.c-article {
  margin-bottom: 50vh; }

.c-article__header {
  background-image: url("images/background/bg-standart.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3.4875rem;
  height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }

.c-article__header--frosting-glass {
  width: 100%;
  background-color: #cfb86e;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #957632), color-stop(25%, #298907));
  background-image: -webkit-linear-gradient(left, #957632 25%, #298907);
  background-image: linear-gradient(to right, #957632 25%, #298907);
  z-index: 9; }
  .c-article__header--frosting-glass:after {
    background-image: url("images/background/bg-standart.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    margin: -3px 0 -9px;
    content: ' ';
    width: -webkit-calc(100% + 9px);
    width: calc(100% + 9px);
    height: -webkit-calc(100% + 3px);
    height: calc(100% + 3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; }

.c-article__hgroup {
  padding-top: 1.74375rem;
  padding-bottom: 1.74375rem; }

.c-article__author {
  font-size: 1.999rem;
  cursor: pointer;
  -webkit-transition: color 0.22s ease-out 0.1s;
  transition: color 0.22s ease-out 0.1s; }
  .c-article__author:hover {
    color: #ececec; }

.c-article__title {
  font-size: 3.553rem;
  font-weight: bold; }

.c-article__title,
.c-article__author {
  position: relative;
  z-index: 99; }

.c-article__section--multimedia {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 0.87188rem; }
  @media (max-width: 959px) {
    .c-article__section--multimedia {
      max-width: 593.28px;
      margin: 0 auto; } }

.c-article__figure-float {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  width: -webkit-calc(593.28px - 0.87188rem);
  width: calc(593.28px - 0.87188rem);
  margin-left: -22.91375rem;
  margin-right: 1.74375rem;
  margin-bottom: -webkit-calc(1.74375rem - 7.2px);
  margin-bottom: calc(1.74375rem - 7.2px);
  margin-bottom: 1.125rem;
  float: left; }
  @media (max-width: 63.4875rem) {
    .c-article__figure-float {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.c-article__figure-full {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  margin-left: -22.91375rem;
  margin-bottom: 1.74375rem; }
  @media (max-width: 63.4875rem) {
    .c-article__figure-full {
      margin-left: 0;
      width: 100%; } }

.c-article__figure-oversize {
  background-image: url("images/article/art-9-normal.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  margin-left: -webkit-calc(-22.91375rem - 50vw + 50%);
  margin-left: calc(-22.91375rem - 50vw + 50%);
  margin-right: -webkit-calc(-26.5vw + 26.5%);
  margin-right: calc(-26.5vw + 26.5%);
  margin-bottom: 1.74375rem; }
  @media (max-width: 60rem) {
    .c-article__figure-oversize {
      margin-left: -webkit-calc(-50vw + 50%);
      margin-left: calc(-50vw + 50%);
      margin-right: -webkit-calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }

.c-article__caption {
  padding-top: 0.29063rem;
  color: #737373;
  font-size: 0.844rem;
  letter-spacing: 0.006em;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  max-width: 22.91375rem; }
  @media (max-width: 63.4875rem) {
    .c-article__caption {
      position: relative;
      max-width: 100%; } }

.c-underline {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #9c6));
  background-image: -webkit-linear-gradient(top, transparent 50%, #9c6 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #9c6 50%);
  background-repeat: repeat-x;
  background-size: 0.1em 0.1em;
  background-position: 0 86%;
  text-shadow: 0.03em 0 #ececec, -0.03em 0 #ececec, 0 0.03em #ececec, 0 -0.03em #ececec, 0.06em 0 #ececec, -0.06em 0 #ececec, 0.09em 0 #ececec, -0.09em 0 #ececec, 0.12em 0 #ececec, -0.12em 0 #ececec, 0.15em 0 #ececec, -0.15em 0 #ececec; }

.c-underline-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #9c6));
  background-image: -webkit-linear-gradient(top, transparent 50%, #9c6 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #9c6 50%);
  background-repeat: repeat-x;
  background-size: 0.2em 0.2em;
  background-position: 0 86%;
  text-shadow: 0.03em 0 #ececec, -0.03em 0 #ececec, 0 0.03em #ececec, 0 -0.03em #ececec, 0.06em 0 #ececec, -0.06em 0 #ececec, 0.09em 0 #ececec, -0.09em 0 #ececec, 0.12em 0 #ececec, -0.12em 0 #ececec, 0.15em 0 #ececec, -0.15em 0 #ececec; }

.c-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(121, 117, 117, 0);
  z-index: 9999; }

.c-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: color 0.22s ease-out;
  transition: color 0.22s ease-out; }
  .c-modal__close svg:hover {
    fill: grey; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: grey; }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: grey; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: black; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: grey; }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: grey; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: black; } }

.c-profile {
  width: 700px;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 1.74375rem;
  -webkit-box-shadow: 0 0 6px #1a1a1a;
          box-shadow: 0 0 6px #1a1a1a;
  visibility: hidden;
  position: absolute; }

.c-profile__name {
  font-size: 1.999rem;
  font-weight: bold;
  margin-bottom: 1.74375rem;
  text-align: center;
  line-height: 1; }

.c-profile__figure {
  margin-bottom: 0.87188rem; }

.l-g-col-1-2 {
  width: 38.19%; }

.l-g-col-2-2 {
  width: 61.8%;
  padding-left: 1.74375rem; }
  @media (max-width: 500px) {
    .l-g-col-2-2 {
      padding-left: 0; } }

@media (max-width: 500px) {
  .l-g-col-1-2,
  .l-g-col-2-2 {
    width: 100%; } }

.c-banner {
  background-image: url("/assets/img/bg-2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  margin-bottom: 3.4875rem; }

.c-sections {
  margin-left: -1.74375rem;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.c-section {
  -webkit-box-shadow: 0 2px 2px #957632;
          box-shadow: 0 2px 2px #957632;
  margin-left: 1.74375rem;
  margin-bottom: 1.74375rem; }

.c-section__figure {
  width: 300px;
  height: 150px;
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .c-section__figure:hover {
    background-color: #957632; }
    .c-section__figure:hover .c-section__figcaption {
      color: #298907; }

.c-section__figcaption {
  position: absolute;
  font-size: 1.125rem;
  padding: 0.87188rem;
  -webkit-transition: color 0.22s;
  transition: color 0.22s;
  bottom: 0;
  right: 0;
  background-color: #ececec;
  font-weight: bold;
  letter-spacing: 0.04em;
  -webkit-transition: color 0.5s 0.1s;
  transition: color 0.5s 0.1s; }

.c-section__image {
  min-height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(0px, -50%, 0px);
          transform: translate3d(0px, -50%, 0px);
  -webkit-transition: opacity 0.5s 0.1s, mix-blend-mode 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  transition: opacity 0.5s 0.1s, mix-blend-mode 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s, mix-blend-mode 0.5s 0.1s;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s, mix-blend-mode 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  -webkit-transition: mix-blend-mode 1s 0.1s;
  transition: mix-blend-mode 1s 0.1s; }

.c-members {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.c-member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.74375rem;
  margin-left: 3.4875rem; }
  .c-member:hover .c-member__image {
    -webkit-transform: scale3d(1.25, 1.25, 1);
            transform: scale3d(1.25, 1.25, 1); }
  .c-member:hover .c-member__name {
    color: #298907; }
  .c-member:hover .c-member__image-2,
  .c-member:hover .c-member__image-3 {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }

.c-member__figure {
  width: 150px;
  overflow: hidden;
  position: relative;
  z-index: 99;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 1.74375rem; }

.c-member__image,
.c-member__image-css {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }

.c-member__figure-css,
.c-member__figure-2,
.c-member__figure-3 {
  margin-bottom: 1.74375rem; }

.c-member__image {
  -webkit-transition: all 0.25s ease-out 0.1s;
  transition: all 0.25s ease-out 0.1s; }

.c-member__image {
  -webkit-border-radius: 75px;
          border-radius: 75px; }

.c-member__image-2,
.c-member__image-3 {
  position: absolute;
  top: 50%;
  left: 0;
  min-height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
          transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1); }

.c-member__figcaption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.c-member__figcaption-bottom {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.c-member__name {
  font-size: 1.125rem;
  text-align: center; }

.c-member__figure-7 {
  -webkit-border-radius: 75px;
          border-radius: 75px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 999;
  margin-bottom: 1.74375rem; }

.c-member__image-7 {
  position: absolute;
  top: 50%;
  left: 0;
  min-height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0); }
  .c-member__image-7:hover {
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
            transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1); }

.member-is-clicked {
  color: #ececec; }
